@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto&display=swap');

:root {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo-column {
    flex: 1;
    background-image: url(images/Potato_background.jpg);
    background-size: cover;
}

.sign-up-column {
    flex: 2;
}

.row-box {
    flex: 1;
}

.logo-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Croissant One', cursive;
    color: azure;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    margin-top: 70%;
}


.row-wrapper {
    display: flex;
    gap: 1rem;
}

.box-form {
    display: flex;
    flex-direction: column;
}

.icon {
    display: inline;
    height: 75px;
    width: auto;
}

.sign-up-column > div {
    padding: 2rem;
}

.box-quote, .box-create-account {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
    color: green;
    font-weight: 800;
}