@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto&display=swap');

:root {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(images/Potato_background.jpg);
    background-size: cover;
}

.sign-up-column {
    flex: 2;
}

.row-box {
    flex: 1;
}

.logo-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Croissant One', cursive;
    color: azure;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    margin-top: 70%;
    text-wrap: nowrap;
}


.row-wrapper {
    display: flex;
    gap: 1rem;
}

.box-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 25%;
}

.icon {
    display: inline;
    height: 75px;
    width: auto;
}

.sign-up-column > div {
    padding: 2rem;
}

.box-quote, .box-create-account {
    background-color: rgb(245, 245, 245);
}

div.box-quote {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 25%;
    text-wrap: wrap;
}

a {
    text-decoration: none;
    color: rgb(48, 102, 48);
    font-weight: 800;
}

label {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    font-weight: 600;
}


input {
    border-color: rgb(245, 245, 245);
    background-color: rgba(245, 245, 245, .5);
    border-width: 1px;
    border-style: solid;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

input:focus {
    border: 2px solid rgb(0, 0, 255, 0.473);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
}

input:focus-visible {
    outline: none;
}

.box-create-account>* {
    margin-bottom: 2rem;
}

button {
    border-radius: 5px;
    padding: .75rem 2.5rem;
    background-color: rgb(48, 102, 48);
    color: azure;
    font-size: 1.25rem;
    border: 0px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
}

input.valid {
    border: 1px solid greenyellow;
}

input.error {
    border: 1px solid red;
}

.footer-credit {
    margin-top: auto;
    text-align: center;
    color: azure;
    padding-bottom: .5rem;
}